.header {
  background-color: #000;
  display: flex;
  width: 100%;
  justify-content: center;
  padding: 10px;
  font-family: ArtegraSansExBold;
}

.headerContent {
  display: flex;
  max-width: 100%;
  gap: -37px;
  justify-content: space-between;
}

.logoWrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding-right: 32px;
  
}

.logo {
  aspect-ratio: 1.56;
  object-fit: auto;
  object-position: center;
  width: 47px;
  fill: #fff;
}

.navigation {
  display: flex;
  gap: 20px;
  font-size: 16px;
  color: #fff;
  font-weight: 400;
  white-space: nowrap;
  flex: 1;
  margin: auto 0;
}

.navLink {
  color: #fff;
  text-decoration: none;
}

.contactInfo {
  display: flex;
  padding-left: 40px;
  justify-content: end;
  flex: 1;
}

.contactDetails {
  display: flex;
  flex-direction: row;
  gap: 20px;
  padding-right: 40px;
  font-size: 16px;
  color: #fff;
  font-weight: 400;
  text-align: right;
  justify-content: end;
  flex: 1;
  margin: auto 0;
}

.socialIcons {
  display: flex;
  align-items: center;
  gap: 20px;
  justify-content: end;
}

.socialIcon {
  aspect-ratio: 1;
  object-fit: auto;
  object-position: center;
  width: 30px;
  align-self: stretch;
  margin: auto 0;
}

a:hover {
  color: #D23008;
}

@media (max-width: 1250px) {
  .headerContent {
    justify-content: flex-start;
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 710px) {
  .contactDetails {
    flex-direction: column;
    gap: 10px;
    padding-left: 0px;
  }

  .contactInfo {
    padding-left: 0px;
  }
}

@media (max-width: 600px) {
  .logoWrapper {
    padding-right: 5%;
  }

  .logo {
    width: min(8vw, 47px);
  }
  
  .socialIcons {
    gap: 10px;
  }

  .socialIcon {
    width: min(8vw, 30px);
  }

  .contactDetails {
    font-size: 2vw;
  }
}

.menu {
  position: absolute;
  margin-top: 0px;
  width: 100%;
  z-index: 2;
  background-color: #000000b5;
  backdrop-filter: blur(10px);
  justify-content: center;
  align-content: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

.menuItem {
  color: #fff;
  font: 18px ArtegraSansExBold, -apple-system, Roboto, Helvetica, sans-serif;
  text-align: center;
  padding-top: 20px;
}

.menuItemImage {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0px;
  height: 40px;
}
