.newsletter {
    align-items: center;
    background-color: #fff;
    display: flex;
    width: 100%;
    flex-direction: column;
    font-weight: 400;
    padding: 40px 10px 80px;
  }
  
  .newsletterContent {
    max-width: 100%;
    align-items: center;
    border-radius: 16px;
    background-color: #000;
    display: flex;
    flex-direction: column;
    width: 90%;
    justify-content: center;
    padding: 50px 10px;
  }
  
  .newsletterTitle {
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    font: 36px ArtegraSansExBold, -apple-system, Roboto, Helvetica, sans-serif;
    font-size: clamp(1rem, 8vw, 36px);
  }
  
  .newsletterDescription {
    color: #fff;
    text-align: center;
    margin-top: 4px;
    font: 16px GothamProMedium, sans-serif;
  }
  
  .newsletterForm {
    display: flex;
    margin-top: 20px;
    gap: 20px;
    font-size: 24px;
    justify-content: center;
    width: 100%;
    max-width: 600px;
  }
  
  .emailInput {
    font-family: 24px GothamProMedium, sans-serif;
    border-radius: 10px;
    background-color: #d9d9d9;
    color: #757575;
    flex: 1;
    padding: 10px 18px;
    border: none;
    font-size: clamp(0.75rem, 5vw, 24px);
  }
  
  .subscribeButton {
    font-family: Artegra Sans Extended, -apple-system, Roboto, Helvetica, sans-serif;
    border-radius: 10px;
    background-color: #7e7e62;
    color: #fff;
    white-space: nowrap;
    text-align: center;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    font-size: clamp(0.75rem, 5vw, 24px);
  }

  .subscribeButton:hover {
    background-color: #fff;
    color: #000;
  }
  
  .visuallyHidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
  }
  
  @media (max-width: 991px) {
    .newsletter {
      max-width: 100%;
      padding: 0 20px;
    }
  
    .newsletterContent {
      padding: 30px 20px;
    }
  
    .newsletterForm {
      flex-direction: column;
    }
  
    .subscribeButton {
      white-space: normal;
    }
  }