.technicalSpecs {
    align-items: center;
    background-color: #000;
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 10px 10px;
    background-size: contain;

}

.specsBackground {
    position: absolute;
    inset: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
}

.specsTitle {
    text-align: center;
    position:relative;
    color: #fff;
    text-transform: uppercase;
    padding: 40px 10px 40px;
    font: 36px ArtegraSansExBold, -apple-system, Roboto, Helvetica, sans-serif;
    font-size: clamp(1rem, 7.5vw, 36px);
}

.specsCardImage {
    position: absolute;
    width: 1200px;
    padding-top: 150px;
    padding-right: 10px;
    padding-left: 10px;
    padding-bottom: 90px;
    max-width: 100%;
    width: 90%;
    height: 100%;
    content: url("/assets/background/specifications-card1200.svg");
}


.specsContent {
    display: flex;
    flex-direction: column;
    position: relative;
    overflow: hidden;
    width: 1200px;
    padding: 90px 0 80px;
}


.specsTabs {
    top: -20px;
    position: relative;
    align-self: center;
    display: flex;
    width: 470px;
    max-width: 100%;
    gap: 20px;
    justify-content: center;
    padding: 0px 20px;
}

.specTab {
    color: #fff;
    font-family: ArtegraSansExBold, -apple-system, Roboto, Helvetica, sans-serif;
    font-size: clamp(0.5rem, 3vw, 16px);
    background: none;
    border: none;
    cursor: pointer;
    padding: 7px 1px;
}

.specTab:focus {
    outline: none;
}

.specTab:hover {
    color: #d23008;
    background: none;
}

.specTabSelected {
    color: #d23008;
    text-decoration-line: underline;
}

.specsImageContainer {
    aspect-ratio: 2.7;
    object-fit: auto;
    width: 90%;
    margin-top: 18px;
    margin-left: 5%;
    margin-right: 5%;
    display: grid; 
    grid-template-columns: 1fr 1fr; 
    grid-template-rows: 1fr; 
    gap: 0px 0px; 
    grid-template-areas: 
        ". ."; 
    justify-content: center; 
    align-content: center; 
    justify-items: center; 
}

.leftImage {
    z-index: 1;
}

.rightImage {
    z-index: 1;
}

.specsNote {
    position: relative;
    text-align: center;
    font-family: GothamProRegular, sans-serif;
    max-width: 100%;
    border-radius: 16px;
    background-color: #000;
    margin-top: 30px;
    width: 90%;
    color: #fff;
    padding: 15px 10px;
    border: 2px solid #fff;
}

@media (max-width: 1300px) {
    .specsContent {
        max-width: 90%;
    }

    .specsNote {
        max-width: 90%;
    }
}

@media (max-width: 991px) {


    /* .specsContent {
        padding-top: 120px;
        padding-bottom: 0px;
    } */

    .technicalSpecs {
        max-width: 100%;
    }

    .specsTitle {
        max-width: 100%;
    }

    .specsTabs {
        flex-wrap: wrap;
    }

    /* .specsNote {
        max-width: 80%;
    } */
}

@media (max-width: 820px) {
    .specsCardImage {
        padding-top: 200px;
    }
}

@media (max-width: 800px) {
    /* .specsContent {
        padding-top: 110px;
    } */
}

@media (max-width: 680px) {
    .specsCardImage {
        content: url("/assets/background/specifications-card960.svg");
        margin-top: 70px;
    }


    .specsContent {
        padding-top: 30px;
        padding-bottom: 30px;
        height: 350px;
    }

    .specsNote {
        border: 1px solid #fff;
    }

    .specsCardImage {
        padding-top: 20px;
    }

    .specsImageContainer {
        margin-left: 10%;
        margin-right: 10%;
        width: 80%;
    }
/* 
    .specsCardImage {
        content: url("/assets/background/specifications-card6402.svg");
    } */
}

@media (max-width: 640px) {
    .specsContent {
        padding-top: 50px;
    }
}

@media (max-width: 600px) {
    .specsContent {
        padding-top: 60px;
    }
}

@media (max-width: 550px) {
    .specsCardImage {
        content: url("/assets/background/specifications-card460.svg");
    }

    .specsContent {
        padding-top: 90px;
        height: 650px;
    }

    .specsImageContainer {
        grid-template-columns: 1fr; 
        grid-template-rows: 1fr 1fr; 
        gap: 10px;
        width: 200px;
        height: 400px;
        margin-left: auto;
        margin-right: auto;

        grid-template-areas: 
        "."
        ".";
    }

    .leftImage, .rightImage {
        height: 190px;
        width: auto;
        max-width: fit-content;
    }
}

@media (max-width: 525px) {
    .specsContent {
        padding-top: 100px;
        height: 625px;
    }
}

@media (max-width: 475px) {
    .specsContent {
        padding-top: 70px;
        height: 550px;
    }
}

@media (max-width: 450px) {
    .specsContent {
        padding-top: 80px;
        height: 550px;
    }

    .leftImage, .rightImage {
        height: 170px;
    }
}

@media (max-width: 425px) {
    .specsContent {
        padding-top: 80px;
        height: 500px;
    }
}

@media (max-width: 400px) {
    .specsContent {
        padding-top: 70px;
        height: 450px;
    }

    .leftImage, .rightImage {
        height: 160px;
    }
}

@media (max-width: 400px) {
    .specsContent {
        padding-top: 60px;
        height: 350px;
    }

    .leftImage, .rightImage {
        height: 140px;
    }

    .specsNote {
        margin-top: 100px;
    }
}

@media (max-width: 375px) {
    .specsContent {
        padding-top: 70px;
    }

    .leftImage, .rightImage {
        height: 130px;
    }
}


@media (max-width: 350px) {
    .specsContent {
        padding-top: 80px;
    }
}
