.technicalSpecs {
    align-items: center;
    background-color: #000;
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 10px 10px;
    background-size: contain;

}

.specsBackground {
    position: absolute;
    inset: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
}

.specsTitle {
    text-align: center;
    position:relative;
    color: #fff;
    text-transform: uppercase;
    padding: 40px 10px 40px 10px;
    font: 36px ArtegraSansExBold, -apple-system, Roboto, Helvetica, sans-serif;
    font-size: clamp(1rem, 7.5vw, 36px);
}

.specsCardImage {
    width: 1200px;
    height: auto;
    padding-right: 10px;
    padding-left: 10px;
    background-image: url("/assets/background/specifications-card1200.svg");
    background-repeat:round;
    z-index: 1;
}


.specsContent {
    display: flex;
    flex-direction: column;
    position: relative;
    overflow: hidden;
    padding: 50px 0 80px;
    z-index: 2;
}


.specsTabs {
    position: relative;
    align-self: center;
    display: flex;
    width: 470px;
    max-width: 100%;
    gap: 20px;
    justify-content: center;
    padding: 0px 20px;
}

.specTab {
    color: #fff;
    font-family: ArtegraSansExBold, -apple-system, Roboto, Helvetica, sans-serif;
    font-size: clamp(0.5rem, 3vw, 16px);
    background: none;
    border: none;
    cursor: pointer;
    padding: 7px 1px;
}

.specTab:focus {
    outline: none;
}

.specTab:hover {
    color: #d23008;
    background: none;
}

.specTabSelected {
    color: #d23008;
    text-decoration-line: underline;
}

.specsImageContainer {
    aspect-ratio: 2.7;
    object-fit: auto;
    width: auto;
    margin-top: 18px;
    margin-left: 5%;
    margin-right: 5%;
    display: grid; 
    grid-template-columns: 1fr 1fr; 
    grid-template-rows: 1fr; 
    gap: 0px 10px; 
    grid-template-areas: 
        ". ."; 
    justify-content: center; 
    align-content: center; 
    justify-items: center; 
}

.specsNote {
    position: relative;
    font-family: GothamProRegular, sans-serif;
    max-width: 100%;
    border-radius: 16px;
    margin-bottom: 20px;
    background-color: #000;
    margin-top: 30px;
    width: 1200px;
    color: #fff;
    border: 2px solid #fff;
    padding: 16px 24px;
}

.tableQuestion {
    background-color: #ffffff00;
    border: none;
    color: #fff;
    cursor: pointer;
    display: flex;
    font-family: ArtegraSansExBold, -apple-system, Roboto, Helvetica, sans-serif;
    font-size: 24px;
    justify-content: space-between;
    text-align: left;
    width: 100%;
    padding-left: 0px;
  }

  .tableQuestion:focus, .tableQuestion:hover {
    outline: none;
    background-color: #ffffff00;
  }

  .tableQuestion:hover {
    color: #D23008;
  }
  
  .tableIcon {
    aspect-ratio: 1.82;
    object-fit: auto;
    object-position: center;
    width: 40px;
    margin: auto 0;
  }

  /* .specificationTable {} */

  .tableString {
    display: grid;
    grid-template-columns: 350px 1fr;
    max-width: 100%;
    gap: 10px;
    margin-top: 20px;
    grid-auto-flow: column;
    grid-template-areas:
      "tableLeft tableRight";
  }

  @media (max-width: 800px) {
    .tableString {
        grid-auto-flow: row;
        grid-template-columns: 100%;
        grid-template-rows: 1fr;
        grid-template-areas:
            "tableLeft"
            "tableRight";
    }
  }

  .tableLeft {
    width: 350px;
    font-family: ArtegraSansExBold, -apple-system, Roboto, Helvetica, sans-serif;
    font-size: 24px;
    padding-right: 10px;
    font-size: clamp(0.5rem, 5vw, 24px);
    max-width: 100%;
  }
  .tableRight {
    font-family: GothamProRegular, sans-serif;
    font-size: 24px;
    padding-right: 10px;
    line-height: normal;
    font-size: clamp(0.5rem, 5vw, 24px);
    max-width: 100%;
  }

@media (max-width: 1300px) {
    .specsCardImage {
        max-width: 90%;
    }

    .specsNote {
        max-width: 90%;
        border: 1.5px solid #fff;

    }
}

@media (max-width: 680px) {
    .specsCardImage {
        background-image: url("/assets/background/specifications-card960.svg");
    }

    .specsNote {
        border: 1px solid #fff;
    }

    .specsImageContainer {
        margin-left: 10%;
        margin-right: 10%;
        width: 80%;
    }

    .specsTitle {
        padding-bottom: 20px;
    }
}

@media (max-width: 550px) {
    .specsCardImage {
        background-image: url("/assets/background/specifications-card460.svg");
    }
    .specsImageContainer {
        grid-template-columns: 1fr; 
        grid-template-rows: 1fr 1fr; 
        gap: 10px;
        width: 200px;
        height: 400px;
        margin-left: auto;
        margin-right: auto;

        grid-template-areas: 
        "."
        ".";
    }

    .leftImage, .rightImage {
        height: 200px;
        width: auto;
        max-width: fit-content;
    }
}

@media (max-width: 450px) {
    .specsContent {
        padding-top: 80px;
        height: 550px;
    }

    .leftImage, .rightImage {
        height: 165px;
    }
}


@media (max-width: 400px) {
    .specsContent {
        padding-top: 70px;
        height: 500px;
    }

    .leftImage, .rightImage {
        height: 155px;
    }
}

@media (max-width: 375px) {
    .leftImage, .rightImage {
        height: 125px;
    }
}

@media (max-width: 350px) {
    .specsContent {
        height: 350px;
        padding-top: 40px;
    }

    .leftImage, .rightImage {
        height: 115px;
    }
}
