.technicalSpecs {
    align-items: center;
    background-color: #000;
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 40px 10px 80px;
}

.specsBackground {
    position: absolute;
    inset: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
}

.specsTitle {
    position:relative;
    color: #fff;
    text-transform: uppercase;
    font: 36px ArtegraSansExBold, -apple-system, Roboto, Helvetica, sans-serif;
}

.specsContent {
    display: flex;
    flex-direction: column;
    position: relative;
    overflow: hidden;
    min-height: 613px;
    margin-top: 10px;
    width: 1200px;
    padding: 64px 0;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.specsTabs {
    position: relative;
    align-self: center;
    display: flex;
    width: 470px;
    max-width: 100%;
    gap: 20px;
    justify-content: center;
    padding: 0 20px;
}

.specTab {
    color: #fff;
    font-family: ArtegraSansExBold, -apple-system, Roboto, Helvetica, sans-serif;
    background: none;
    border: none;
    cursor: pointer;
    padding: 7px 1px;
}

.specTab:focus {
    outline: none;
}

.specTab:hover {
    color: #d23008;
    background: none;
}

.specTabSelected {
    color: #d23008;
    text-decoration-line: underline;
}

.specsImageContainer {
    aspect-ratio: 2.7;
    object-fit: auto;
    object-position: center;
    width: 90%;
    margin-top: 18px;
    margin-left: 5%;
    margin-right: 5%;
    display: grid; 
    grid-template-columns: 1fr 1fr; 
    grid-template-rows: 1fr; 
    gap: 0px 0px; 
    grid-template-areas: 
        ". ."; 
    justify-content: space-evenly; 
    justify-items: center; 
}

.leftImage {
}

.rightImage {
}

.specsNote {
    position: relative;
    text-align: center;
    font-family: GothamProRegular, sans-serif;
    max-width: 100%;
    border-radius: 16px;
    background-color: #000;
    margin-top: 30px;
    width: 1200px;
    color: #fff;
    padding: 15px 10px;
    border: 2px solid #fff;
}

@media (max-width: 991px) {
    .technicalSpecs {
        max-width: 100%;
    }

    .specsTitle {
        max-width: 100%;
    }

    .specsContent {
        max-width: 100%;
    }

    .specsTabs {
        flex-wrap: wrap;
    }

    .specsImage {
        max-width: 100%;
    }

    .specsNote {
        max-width: 100%;
    }
}