.youtubeSection {
    background-color: #fff;
    display: flex;
    width: 100%;
    flex-direction: column;
    padding: 40px 10px 80px;
  }
  
  .youtubeTitle {
    color: #000;
    text-align: center;
    text-transform: uppercase;
    font: 400 36px Artegra Sans Extended, -apple-system, Roboto, Helvetica, sans-serif;
  }
  
  .youtubeContent {
    display: flex;
    flex-direction: column;
    align-self: center;
    position: relative;
    min-height: 675px;
    margin-top: 20px;
    width: 1200px;
    max-width: 100%;
    align-items: center;
    justify-content: center;
    padding: 80px 60px;
  }
  
  .youtubeBackground {
    position: absolute;
    inset: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
  }
  
  .playButton {
    aspect-ratio: 0.84;
    object-fit: auto;
    object-position: center;
    width: 57px;
    position: relative;
    z-index: 1;
  }
  
  @media (max-width: 991px) {
    .youtubeSection {
      max-width: 100%;
    }
  
    .youtubeTitle {
      max-width: 100%;
    }
  
    .youtubeContent {
      padding: 40px 20px;
    }
  
    .playButton {
      margin: 40px 0;
    }
  }